.title{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: white;
    
}

body{
    background-color: rgb(66, 135, 244);
}
.name{
    font-family: 'Poppins',sans-serif;
    color: white;  
    position: fixed;
    bottom: 0px;
    width: 90%;
}
ul{
    list-style: none;
    text-align: center;
}
li{
    display: inline;
    padding: 20px;
    
}
.loader {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-text {
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  align-self: center;
}

.loader-bar {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  animation: loader-bar-animation 2s ease-in-out infinite;
}

@keyframes loader-bar-animation {
  0% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateX(-100%);
  }

  50% {
    /* transform: translateX(100%) rotate(-90deg); */
    transform: translateX(100%);
  }

  100% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateX(-100%);
  }
}