@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins',sans-serif;
}

body {
  color: #fff;
  overflow: hidden;
}
  
/* Navigation bar styles */

nav {
  display: flex;
  background: #0d1635;
  text-align: center;
}

nav .logo {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
}

nav .logo img {
  height: 30px; 
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;

}
  
nav ul li {
  display: inline-block;
  margin: 10px;
}
  
nav ul li a {
  display: block;
  padding: 10px;
  font-weight: 100;
  color: #ffffff;
  text-decoration: none;
}
  
nav ul li a:hover {
  background: #ff0077;
  border-radius: 5px;
    
}
  
nav ul li a.active {
  background: #ff0077;
  border-radius: 5px;
}
  
/* End of the Navigation bar styles */

.main{
  min-height: 100vh;
  /* background-color: white; */
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: .3s ease;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header{
  top: 0;
  left: 0;
  right: 0;
  width: 100;
  padding: 2rem 9%;
  background: #f4fefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;

}


.navbar a {
  font-size: 1.7rem;
  color:#1b2527;
  margin-left: 4rem;
  transition: .3s;

}

body{
  position: relative;
  overflow-y: scroll;
}

img:hover{
  transform: scale(1.05);
  opacity: 0.5;
}

.image_gallery{
  width: 100vw;
  height: 100vh;
  display: grid;
}

.image_gallery_header{
  margin-top: 100px;
  width: 100vw;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  color: #fff;
  font-size: 5rem;
}

.image_container{
  width: 80%;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-self: center;
}

.image_container img{
  width: 100%;
  padding: 10px;

}


.container{
  position: absolute;
  top: 100px;
  right: 20px;
  border: 2px solid #333
}
.colour{
display: table-cell;
width: 30px;
height: 30px;
margin: 0 1px;
cursor: pointer;
border:2px solid #fff;
}
.color1 {
  background-color: #1b2527;}
.color2 {
  background-color: wheat;}
.color3 {
  background-color: rgb(160, 227, 247);}
.color4 {
  background-color:#e2f67c;}
  
  #content {
      font-size: 48px;
      color: #2d60b1;
    }    

.font-changer{
  position: absolute;
  right: 3px;
  top:130px;
}
