@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins',sans-serif;
}

body {
  color: #fff;
  background: #000000;
  overflow: hidden;
}
  
/* Navigation bar styles */

nav {
  display: flex;
  background: #0d1635;
  text-align: center;
}

nav .logo {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
}

nav .logo img {
  height: 30px; 
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;

}
  
nav ul li {
  display: inline-block;
  margin: 10px;
}
  
nav ul li a {
  display: block;
  padding: 10px;
  font-weight: 100;
  color: #ffffff;
  text-decoration: none;
}
  
nav ul li a:hover {
  background: #ff0077;
  border-radius: 5px;
    
}
  
nav ul li a.active {
  background: #ff0077;
  border-radius: 5px;
}
  
/* End of the Navigation bar styles */

.main{
  min-height: 100vh;
  background: url('/Images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: .3s ease;
}

h1{
  text-align: center;
  padding: 20px;
}

.pentagon-box {
  position: absolute;
  top: 25%;
  left: 34%;
  transform: translate( 0%, 0%);
}

.link_circle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}

.link_circle:hover{
  transform: scale(1.2);
}

.link_circle a{
  text-decoration: none !important;
}

#circle_1{
  left: 223px;
  top: 15px;
}

#circle_2{
  left: 436px;
  top: 140px;
}

#circle_3{
  left: 436px;
  top: 315px;
}

#circle_4{
  left: 223px;
  top: 440px;
}

#circle_5{
  left: 10px;
  top: 315px;
}

#circle_6{
  left: 10px;
  top: 140px;
}

#page_name{
  font-size: clamp(20px, 2vw, 40px);
  position: absolute;
  top: 46%;
  left: 36%;
  transform: translate( 0%, 0%);
}