
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins',sans-serif;
}

body {
  color: #fff;
  background: #000000;
  
}
  
/* Navigation bar styles */

nav {
  display: flex;
  background: #0d1635;
  text-align: center;
}

nav .logo {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
}

nav .logo img {
  height: 30px; 
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;

}
  
nav ul li {
  display: inline-block;
  margin: 10px;
}
  
nav ul li a {
  display: block;
  padding: 10px;
  font-weight: 100;
  color: #ffffff;
  text-decoration: none;
}
  
nav ul li a:hover {
  background: #ff0077;
  border-radius: 5px;
    
}
  
nav ul li a.active {
  background: #ff0077;
  border-radius: 5px;
}
  
/* End of the Navigation bar styles */

section{
padding: 4rem 0 3rem;
}
/* <!-- Reference - https://www.youtube.com/watch?v=Gnh-9IH6BEc --> */
.main{
  min-height: 100vh;
  background: url('/Images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: .3s ease;
}
#cart-icon{
  float: right;
}
#cart-icon{
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-right: 50px;
  
}
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  padding: 20px;
  background:  #0d1635;
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: scroll;
  height: 100vh;
}
.cart.active{
  right: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid  #b6c5fd;
}
.total-title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.total-price{
  font-size: 1.075rem;
  margin: 1rem 0 0 0.7rem;
}
.btn-buy{
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  padding: 10px 20px;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 2rem;
  background: #ff0077;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
#close-cart{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;

}
.cart-img{
  height: 100px;
  width: 100px; 
  object-fit: contain;
  object-position: center;
  padding: 10px;
}
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.details-box{
  display: grid;
  row-gap: 0.5rem;

}
.cart-product-title{
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  border: 1px solid white;
  outline-color: #ffffff;
  width: 2.8rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
}
.cart-remove{
  font-size: 24px;
  color: red;
  cursor: pointer;
}
.section-title{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.8rem;
  margin-left: 200px;
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color:#0d1635 ;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-box:hover{
  background:rgb(104, 104, 104) ;
  border: 1px solid rgb(104, 104, 104) ;
  box-shadow: 0 8px 32px rgb(0, 0, 0);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.product-box:hover .product-title,
.product-box:hover .price {
  color: #141414;
}

.product-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}


.product-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
}

.price {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.shop-content {
  grid-template-columns: repeat(4, 1fr);
/* width */}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9a4f1f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #01629e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #26b0ff;
}



.shop-content {
  grid-template-columns: repeat(4, 1fr);
  
}
.shop-container{
  padding: 0;
  padding-top: 40px;
  padding-bottom: 15px;
}
.add-cart {
  bottom: 10px;
  right: 10px;
  background: #ff0077;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  margin-top: .5rem;
}
.add-cart:hover{
  background: hsl(249, 32%, 17%);
}
/* checkout */
fieldset{
  border: none;
}
.container{
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d1635; 
  top: 0;
  right: -100%;
  width: auto;
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container.active{
  right: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
  display: flex; 
}
.container .form{
  padding: 20px;
  width: 700px;
  background: white;
  box-shadow: 0 5px 10px white ;
}
legend{
  font-size: large;
  padding: 10px 0 10px 0 ;
}
.row{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.col{
  flex:1 1 250px;
}
.title-payment{
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.input-box{
  margin-bottom: 15px;  
}
.input-box span{
  margin: 5px;
  display: block;
  color: black;
}
.input-box input{
  width: 100%;
  border: 1px solid #ccc;

}
.input-box img{
  height: 34px;
  margin-top: 5px;   
}
.submit-btn{
width: 100%;
}
.total-payment{
  color: black;
}
.reset{
  padding: 5px 3px;
}
.exit{
  padding: 5px 11px;
} 
.button{
  padding-top: 25px;
}

footer {
  background: #0d1635;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

.footer-container {
  font-size: 14px;
}

.footer-container p {
  margin: 0;
  color: #a9dcf0;
}

.footer-container a {
  color: #a9dcf0;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}