@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins',sans-serif;
}

body {
  color: #fff;
  background: #000000;
  overflow: hidden;
}

.main{
  min-height: 100vh;
  background: url('/Images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: .3s ease;
}
  
/* Navigation bar styles */

nav {
  display: flex;
  background: #0d1635;
  text-align: center;
}

nav .logo {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
}

nav .logo img {
  height: 30px; 
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;

}
  
nav ul li {
  display: inline-block;
  margin: 10px;
}
  
nav ul li a {
  display: block;
  padding: 10px;
  font-weight: 100;
  color: #ffffff;
  text-decoration: none;
}
  
nav ul li a:hover {
  background: #ff0077;
  border-radius: 5px;
    
}
  
nav ul li a.active {
  background: #ff0077;
  border-radius: 5px;
}
  
/* End of the Navigation bar styles */
  
  /* Title card styles */
  .grid-container {
    display: flex;
    flex-wrap: space-evenly;
    justify-content: center;
    gap: 20px;
    margin-top: 20vh;
  }
  
  .title-card {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 350px;
    width: 200px;
    padding: 15px;
    position: relative;
    max-width: calc(50% - 20px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .title-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #e6c54f;
  }
  
  .title-card a {
    text-decoration: none;
    color: #080018;
  }
  
  .title-card p {
    display: none;
    color: #ffffff;
    position: relative;
    margin-top: 150%;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .title-card:hover p {
    display: block;
    opacity: 1;
  }
  
  .title-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .title-card:hover::before {
    opacity: 1;
  }
  

/* Background images for title cards */
.title-card:nth-child(1) {
  background-image: url('AboutUs Images/Sabith.jpg');
}

.title-card:nth-child(2) {
  background-image: url('AboutUs Images/Kaveesha.jpg');
}

.title-card:nth-child(3) {
  background-image: url('AboutUs Images/Tharusha.jpg');
}

.title-card:nth-child(4) {
  background-image: url('AboutUs Images/dakshina.jpg');
}