@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #fff;
  background: #000000;
  background: url('/Images/background.jpg') no-repeat;
  
}

/* Navigation bar styles */
nav {
  display: flex;
  background: #0d1635;
  text-align: center;
}

nav .logo {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
}

nav .logo img {
  height: 30px!important;
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  font-weight: 100;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  background: #ff0077;
  border-radius: 5px;
}

nav ul li a.active {
  background: #ff0077;
  border-radius: 5px;
}

/* End of the Navigation bar styles */

.main {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: 0.3s ease;
  overflow-x: hidden;
}

/* html {
  scroll-behavior: smooth;
} */

img {
  max-width: 100%;
  height: auto;
}

.layout_padding {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.section{
  width: 100%;
  float: left;
}

.disc_section{
  width: 68%;
  float: right;
}

.disc_section_2{
  width: 68%;
  float: left;
}

h2 {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #ffffff;
  margin: 10px;
}

h1 {
  width: 100%;
  font-size: 46px;
  color: #ffffff;
  margin: 50px;
  text-align: center;
}

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

.container-fluid p {
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  float: left;
  font-size: 20px;
  color: #ffffff;
}

.image_2{
  width: 30%;
  float: right;
}

.image_1{
  width: 30%;
  float: left;
}

footer {
  background: #0d1635;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  margin-bottom: 0%;
}

.footer-container {
  font-size: 14px;
}

.footer-container p {
  margin: 0;
  color: #a9dcf0;
}

.footer-container a {
  color: #a9dcf0;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}
